@import url('BarraTareas.css');
@import url('Screen.css');

#root{
  --url-computer: url("../../images/background.png");
  --altura-barra : 30px;
  --altura-top : 50px;
  user-select: none;
  color: white;
  font-size: small;
  font-weight: bold;
}

  .App {
    font-family: 'DejaVu Sans Mono', monospace;
    background-image: var(--url-computer);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .menu-icon {
    opacity: 50%;
    height: calc(var(--altura-barra) - 5px);
  }

  .menu-icon:hover {
    opacity: 100%;
  }

  .icon-holder, .icon-holder-holder {
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  .icon-holder img {
    width: auto;
  }

  .icon-holder:hover {
    background-color: #111c;
  }

  a {
    text-decoration: underline;
    color: inherit;
  }

  .Terminal {
    height: calc(var(--altura-barra) - 15px);
    width: calc(var(--altura-barra) - 10px);
  }

  .app-small {
    height: calc(var(--altura-barra) - 18px);
    width: calc(var(--altura-barra) - 13px);
    margin-left: 10px;
  }

  .display-terminal {
    padding: 5px 5px 9px 5px;
    rotate: 90deg;
    border-right: #111;
  }

  .display-app-options {
    padding: 0px 5px;
    border-right: #111;
  }

  .icon:hover, .icon-holder:hover {
    cursor: pointer;
  }

  .index-menu-item {
    flex-grow: 1;
  }
  
  .menu-item:hover, .index-menu-item:hover {
    background-color: #111c;
  }
  
  .menu-item img, .index-menu-item img {
    margin-right: 10px;
  }
  
  .App-header {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: calc(var(--altura-barra) - 10px);
  }
  
  .frame:hover {
    background-color: #111c;
  }

  .terminal-text, .terminal-sub-title {
    text-align: left;
  }

  .plain-text p{
    margin-left: 10px;
  }

  .oculto {
    opacity: 0;
    pointer-events: none;
  }
  