#root{
  --url-computer: url("../../images/background.png");
  --altura-barra : 30px;
  --altura-top : 50px;
  user-select: none;
  color: white;
  font-size: small;
  font-weight: bold;
}

  .App {
    font-family: 'DejaVu Sans Mono', monospace;
    background-image: var(--url-computer);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .barraTareas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #222c;
    height: var(--altura-barra);
    font-family: 'DejaVu Sans Mono', monospace;
    z-index: 100;
  }

  .barra {
    display: flex;
    align-items: center;
  }

  .barra1 {
    height: var(--altura-barra);
    justify-content: flex-start;
    flex: 1;
  }

  .barra3 {
    justify-content: flex-end;
    flex: 1;
    margin-right: 2.5%;
  }

  .menu-icon {
    opacity: 50%;
    height: calc(var(--altura-barra) - 5px);
  }

  .menu-icon:hover {
    opacity: 100%;
  }

  .icon-holder, .icon-holder-holder {
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  .icon-holder img {
    width: auto;
  }

  .icon-holder:hover {
    background-color: #111c;
  }

  .profilePicture {
    background-color: #f00;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
  }

  .index-menu {
    /* min-height: 50%; */
    height: fit-content; /* Ajustar automáticamente la altura al contenido */
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    position: fixed;
    top: var(--altura-barra);
    z-index: 1000;
  }

  a {
    text-decoration: underline;
    color: inherit;
  }

  .Terminal {
    height: calc(var(--altura-barra) - 15px);
    width: calc(var(--altura-barra) - 10px);
  }

  .app-small {
    height: calc(var(--altura-barra) - 18px);
    width: calc(var(--altura-barra) - 13px);
    margin-left: 10px;
  }

  .display-terminal {
    padding: 5px 5px 9px 5px;
    rotate: 90deg;
    border-right: #111;
  }

  .display-app-options {
    padding: 0px 5px;
    border-right: #111;
  }

  .icon:hover, .icon-holder:hover {
    cursor: pointer;
  }

  .option-menu {
    background-color: #222;
  }

  .menu {
    background-color: #222c;
  }

  .index-menu {
    background-color: #222;
  }

  .menu, .index-menu, .option-menu{
    position: fixed;
    top: var(--altura-barra);
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 1000;
  }
  
  .menu-item, .index-menu-item {
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }

  .index-menu-item {
    flex-grow: 1; /* Agrega esta línea para que los elementos ocupen todo el ancho disponible */
  }
  
  .menu-item:hover, .index-menu-item:hover {
    background-color: #111c;
  }
  
  .menu-item img, .index-menu-item img {
    margin-right: 10px;
  }
  
  .App-header {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .terminal-sub-title {
    color: #595;
  }

  .screen {
    position: fixed;
    margin-top: var(--altura-barra);
    height: calc(100vh - var(--altura-barra) - 10px);
    font-family: 'DejaVu Sans Mono', monospace;
    z-index: 0;
  }
  
  .window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #252525;
    opacity: 0.95;
    z-index: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid #202020;
    border-radius: 7px;
  }

  .top {
    position: relative;
    height: 50px; /* Ajusta la altura según sea necesario */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    align-items: center;
  }
  
  .top-space {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .top-right {
    /* background-color: #f00; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .top-left {
    /* background-color: #ff0; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .button {
    height: 17px;
    width: 17px;
    background-color: #333;
    color: #0000;
    border-radius: 50%;
    border: 1px solid #222;
    margin-right: 5px;
    cursor: pointer;
  }

  .button:hover {
    color: #ddd;
  }
  
  .maximize {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
  }
  
  .maximize-square {
    width: 5px;
    height: 4px;
    background-color: transparent;
    border: 2px solid #0000;
    display: flex; /* Añadir flexbox para alinear */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
  }

  .maximize-square:hover {
    border: 2px solid #ddd;
  }

  .top-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    display: flex;
    align-items: center;
  }
  
  .top-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    display: flex;
    align-items: center;
  }
  
  .top-left,
  .top-middle,
  .top-right {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .top-left {
    justify-content: flex-start;
  }
  
  .top-middle {
    justify-content: center;
  }
  
  .top-right {
    justify-content: flex-end;
  }
  
  .terminal-item {
    padding: 10px;
    vertical-align: center;
    margin: 0;
    cursor: pointer;
    line-height: 0.7;
  }

  .terminal-item:hover {
    background-color: #222d;
  }

  .close {
    margin-right: 5px;
    background-color: #3281ff;
    color: #111;
  }
  
  .line {
    height: 1px;
    background-color: #222;
  }

  .vertical-line {
    width: 1px;
    background-color: #ddd;
    height: 60%;
    margin: 0px 5px;
  }
  
  .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: calc(var(--altura-barra) - 10px);
  }
  
  .open-icon {
    flex: auto;
    justify-self: center;
    margin: auto;
  }
  
  .frame:hover {
    background-color: #111c;
  }

  .selected {
    background-color: #111c;
    border-bottom: 1px solid #3060ff;
  }

  .terminal-text, .terminal-sub-title {
    text-align: left;
  }

  .plain-text p{
    margin-left: 10px;
  }

  .oculto {
    opacity: 0;
    pointer-events: none;
  }
  